<template name="journeys">

  {{#contentFor "headerButtonLeft"}}
    <a href="{{pathFor 'profile'}}" class="button button-clear pull-left button-positive">
      {{> ionIcon icon='ios-person-outline'}}
    </a>
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newJourney">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Home</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
    {{#ionList}}
      {{#each journeys}}
        <a href="{{pathFor 'journeyDetail' _id=_id}}">
          {{#ionItem iconLeft=true iconRight=true avatar=true class="my-class" buttonRight=true}}
          {{> journey}}
          {{/ionItem}}
        </a>
        {{else}}
        <div class="empty-view">
          {{> ionIcon icon="android-train"}}
          No notifications yet!
        </div>
      {{/each}}
    {{/ionList}}
    {{/ionContent}}
  {{/ionView}}

</template>

<template name="journey">
  {{> ionIcon icon="android-train" }}
  <strong>{{departure}}</strong> to <strong>{{destination}}</strong>
  <br>
  145 miles

  {{> ionIcon icon="ios-play-outline"}}
</template>
