<template name="appLayout">

  {{#ionBody}}
    {{> ionNavBar}}

    {{#ionNavView}}
      {{> yield}}
    {{/ionNavView}}
      {{#ionTabs style="ios"}}
        {{> ionTab title="Dashboard" path="home" iconOff="ios-speedometer-outline" iconOn="ios-speedometer" class="tab-item-positive"}}
        {{> ionTab title="Journeys" path="journeys" iconOff="ios-pricetags-outline" iconOn="ios-pricetags" class="tab-item-positive"}}
        {{> ionTab title="Notifications" path="notifications" iconOff="ios-bell-outline" iconOn="ios-bell" class="tab-item-positive"}}
        <!-- {{> ionTab title="Profile" path="profile" iconOff="ios-person-outline" iconOn="ios-person" class="tab-item-positive"}} -->
      {{/ionTabs}}
  {{/ionBody}}

</template>
