<template name="home">

  {{#contentFor "headerButtonLeft"}}
    <!-- <a href="{{pathFor 'profile'}}" class="button button-clear pull-left button-positive">
      {{> ionIcon icon='ios-person-outline'}}
    </a> -->
  {{/contentFor}}

  {{#contentFor "headerButtonRight"}}
    <button class="button button-clear pull-right button-positive" data-ion-modal="newJourney">
      {{> ionIcon icon='ios-plus-empty'}}
    </button>
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Home</h1>
  {{/contentFor}}

  {{#ionView}}
    {{#ionContent}}
      {{#with User}}
      {{> _profileHeader}}
      {{/with}}

  {{#unless journeys.count}}
  <div class="list card">

  <div class="item">
    <h2>Welcome to TripTrack</h2>
    <p>A HackTrain 2.0 project</p>
  </div>

  <div class="item item-body">
    <p>TripTrack is an app that <strong>makes train travel fun</strong> </p>
    <!-- <img class="full-image" src="/images/sunset.jpg"> -->
    <button class="button button-block button-balanced" data-ion-modal="newJourney"> Add a journey</button>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-social-facebook"></i>
      Comment
      <div class="item">
        <h2>Welcome to TripTrack</h2>
        <p>A HackTrain 2.0 project</p>
      </div>
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-twitter"></i>
      Share
    </a>
  </div>

</div>
{{else}}
<div class="padding">
  <button class="button button-block button-balanced" data-ion-modal="newJourney"> Add a journey</button>
</div>
{{/unless}}

      {{#if journeys.count}}
        <h4 class="padding">Recent Journeys</h4>
        {{#ionList class="card"}}
          {{#each journeys}}
            <a href="{{pathFor 'journeyDetail' _id=_id}}">
              {{#ionItem iconLeft=true iconRight=true avatar=true class="my-class" buttonRight=true}}
              {{> journey}}
              {{/ionItem}}
            </a>
          {{/each}}
        {{/ionList}}
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon="android-train"}}
          No journeys yet!
        </div>
      {{/if}}

    {{/ionContent}}
  {{/ionView}}

</template>
